In [3]:
! pip install seaborn
import seaborn as sns # have the data
import pandas as pd
import numpy as np

Requirement already satisfied: seaborn in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (0.11.1)
Requirement already satisfied: numpy>=1.15 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from seaborn) (1.20.3)
Requirement already satisfied: matplotlib>=2.2 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from seaborn) (3.4.2)
Requirement already satisfied: scipy>=1.0 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from seaborn) (1.6.3)
Requirement already satisfied: pandas>=0.23 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from seaborn) (1.2.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\34639\anaconda3\envs\geo_env\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

# Pandas Combining DataFrames
In pandas there are 4 (plus a few special case) ways to combine data from different frames:

    Merging
    Joining
    Concatenating
    Appending
    
Where merging and joining are basically redundant and concatenating and appending are basically redundant.

So today we will be going over Merging and Concatenating in pandas.

#  Four Types of Joins

There are actually four types of joins supported by the Pandas merge function. Here's how they are described by the documentation:

inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys
outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically
left: use only keys from left frame, similar to a SQL left outer join; preserve key order
right: use only keys from right frame, similar to a SQL right outer join; preserve key order
The default is the "inner join", which was used when creating the movie_ratings DataFrame.

It's easiest to understand the different types by looking at some simple examples:

In [28]:
A = pd.DataFrame({'color': ['green', 'yellow', 'red'], 'num':[1, 2, 3]})
A

    color  num
0   green    1
1  yellow    2
2     red    3

In [29]:
B = pd.DataFrame({'color': ['green', 'yellow', 'pink'], 'size':['S', 'M', 'L']})
B

    color size
0   green    S
1  yellow    M
2    pink    L

## Inner join
Only include observations found in both A and B:

In [30]:
pd.merge(A, B, how='inner')

    color  num size
0   green    1    S
1  yellow    2    M

# Outer join
Include observations found in either A or B:

In [32]:
pd.merge(A, B, how='outer')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2     red  3.0  NaN
3    pink  NaN    L

## Left join
Include all observations found in A:

In [33]:
pd.merge(A, B, how='left')

    color  num size
0   green    1    S
1  yellow    2    M
2     red    3  NaN

## Right join
Include all observations found in B:

In [34]:
pd.merge(A, B, how='right')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2    pink  NaN    L